.header {
    display: flex;
    align-items: center;

    &__nav-box {
        perspective: 40px;
        z-index    : 10;
        position   : fixed;
        top        : 0;
        height     : $header-height;
        width      : 100%;
        background : $color-primary-darkest;
    }

    &__nav {
        height     : 100%;
        width      : 100%;
        display    : flex;
        background : $color-primary;
        align-items: center;
        padding    : $pad-wrapper;
        transform-origin: center bottom;
    }

    &__link {
        padding  : $pad-text;
        font-size: $font-sm;
        color    : $font-nofocus;
        cursor   : pointer;

        &:first-child {
            font-weight: 500;
            color    : $color-grey-lightest;
        }

        &:hover {
            color: $font-highlight;
        }

        @include responsiveFor($tablet) {
            padding  : $pad-text * 2;
        }

        @include responsiveFor($desktop) {
            padding  : $pad-text * 3;
        }
    }

    &__menu-box {
        z-index    : 10000;
        cursor     : pointer;
        position   : fixed;
        top        : calc((#{$header-height} - 0.2rem) / 2 );
        transform  : translateY(-50%);
        right      : calc((#{$header-height} - 0.2rem) / 2 );
        height     : $header-height;
        display    : flex;
        align-items: center;   
    }

    &__menu {
        padding-right: $pad-text;
        margin-left  : auto;
        position     : relative;
        &,
        &::after,
        &::before {
            content: "";
            height: .2rem;
            width: 2rem;
            background: $color-font;
            transition: transform $speed-animation ease-out;
        }

        &::after {
            position: absolute;
            top: 5px;
        }

        &::before {
            position: absolute;
            bottom: 5px;
        }

        &--open {
            & {
                background: transparent;
            }

            &::after,
            &::before {
                top: 0;
            }

            &::after {
                transform: rotate(135deg);
                background: darken($font-highlight, 30%);
            }

            &::before {
                transform: rotate(-135deg);
                background: darken($font-highlight, 10%);
            }
        }
    }

}

.nav-animation-enter {
    transform : translateY(-100%);
    transition: $transition-menu;

    & .header__nav {
        transform : rotateX(90deg);
        background: darken($color-primary, 20%);
    }
  }
  
  .nav-animation-enter.nav-animation-enter-active {
    transform: translateY(0);

    & .header__nav {
        transform : rotateX(0deg);
        background: $color-primary;
        transition: $transition-menu;
    }
  }
  
  .nav-animation-leave {
    transform : translateY(0);
    transition: $transition-menu;

    & .header__nav {
        transform : rotateX(0deg) ;
        background: $color-primary;
    }
  }
  
  .nav-animation-leave.nav-animation-leave-active {
      
    transform: translateY(-100%);

    & .header__nav {
        transform : rotateX(90deg);
        background: darken($color-primary, 20%);
        transition: $transition-menu;
    }
  }
