.landing {
    height  : 62vh;
    width   : 100vw;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    z-index : -3;

    @include responsiveFor($mobile-lg) {
      height  : 75vh;
    }

    @include responsiveFor($tablet) {
      height  : 85vh;
    }

    @include responsiveFor($desktop) {
      height  : 100vh;
    }

    &::before {
        position   : absolute;
        content    : '';
        width      : 100%;
        top        : 0;
        left       : 0;
        right      : 0;
        bottom     : 0;
        transform  : translateY(-10%);
        height     : 0;
        padding-top: 177.78%;
        background-repeat: no-repeat;
        z-index : -5;
        background-image:  linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) , url('/static/img/portfolio-no-glasses.jpeg');
        background-size      : contain;
        filter: sepia(.6) grayscale(.4);

        @supports(background-blend-mode: darken) {
          background-image:  linear-gradient(rgb(169, 99, 105), rgb(56, 7, 23)) , url('/static/img/portfolio-no-glasses.jpeg');
          background-blend-mode: hard-light;
          
        }

        @media (hover: hover) {
          background-attachment: fixed;
        }

        @include responsiveFor($mobile-lg) {
          background-size      : cover;
          background-position  : left 45% top -4rem;
        }

        @include responsiveFor($tablet) {
          background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) , url('/static/img/portfolio-horizontal.jpeg');
          padding-top: 0;
          height: 100%;
          transform: translateY(0%);
          background-position  : left 35%  top 0;

          @supports(background-blend-mode: darken) {
            background-image:  linear-gradient(rgb(169, 99, 105), rgb(56, 7, 23)) , url('/static/img/portfolio-horizontal.jpeg');
            background-blend-mode: darken;
          }
        }

        @include responsiveFor($desktop) {
          background-position  : left 38% top;
        }

        @include responsiveFor(1380px) {
          background-position  : left 55% top;
        }

        @include responsiveFor(1800px) {
          background-position  : left 100% top;
        }
    }

    &__title-area {
        position      : absolute;
        bottom        : 5%;
        right         : 8%;
        
        @include responsiveFor($desktop) {
          bottom        : 10%;
          right         : 8%;
        }
    }


    &__subTitle {
        margin-top: 1rem;
        margin-left: .4rem;
        color: $color-grey-lightest;
        font-weight: 300;
        letter-spacing: 2px;
    }

    &__cta {
      position: absolute;
      bottom: 17%;
      right: 10%;
      transform: translate( 0 ,-50%);

      @include responsiveFor($tablet) {
        bottom: 20%;
        right: 15%;
      }

      @include responsiveFor($tablet-lg) {
        bottom: 22%;
        right: 11%;
      }
    }

    &__toggle-lg {
      position: absolute;
    }
}

.animate-letters {
  display            : inline-block;
  position           : relative;
  text-align         : center;
  width              : $widthEl;
  height             : 3rem;
  -webkit-perspective: 50px;
  -moz-perspective   : 50px;
  -o-perspective     : 50px;
  perspective        : 50px;
}

@for $i from 1 through $elCount {
  $timeDelay:calc(((#{$i} - 1)* #{$timeDelayPerElm}) + #{$initialTimeDelay});

 .animate-letters:nth-of-type(#{$i}) .front-face {
  animation:  flippin $timeSingleElm ease-out $timeDelay forwards;
}
  .animate-letters:nth-of-type(#{$i}) .back-face {
  animation:  flippin $timeSingleElm ease-out $timeDelay forwards;
}
}

// styling front and back
.back-face,
.front-face {
  width    : 100%;
  position : absolute;
  top      : 0;
  left     : 0;
  transform: rotateY(180deg);
  text-transform: uppercase;
}

.front-face {
  color: $color-primary;
  -webkit-backface-visibility: hidden;
  backface-visibility         : hidden;
  z-index: 1;
}
.back-face {
  color   : $color-grey-light;
}
