.projects {

    &__group {
        flex-grow: 1;
    }

    &__case {
        padding: $pad-large;
        box-shadow: $box-shadow;
    }

    &__link {
        font-weight: 500;
        color: $color-primary;
        font-size: $font-lg;
    }

    &__img-box {
        display: block;
        width: 20rem;
        height: 10rem;
        overflow: hidden;      
        box-shadow: 2px 2px 2px $color-grey-dark;
        transition: all .25s ease-in;

        @include responsiveForRange($tablet, $tablet-lg) {
            width: 18rem;
            height: 12rem;
        }

        @include responsiveFor($tablet-lg) {
            width: 25rem;
            height: 15rem;
          }

        &:hover {        
            transform: translateY(-3px); 
            box-shadow: 3px 3px 2px darken($color-grey-dark, 20%);
        }
    }

    &__img {
        width: 100%;
        height: 100%;

        transition: all .25s ease-in;
        &:hover {
            transform: scale(1.05);
        }
    }
}