
$color-primary: hsl(179, 60%, 47%);
$card-size: 6rem;
$zoom-radius: 5rem;
$options: frontend backend;
$box-shadow: 0 2px 4px hsl(181, 11%, 86%);
$box-shadow-hover: 0 4px 8px hsl(181, 11%, 42%);

.area {
  text-align: center;
  color: green;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 2px;
  
  &__option {
    visibility: hidden;
    display: none;
  }
  
  &__expertise {
    height: auto;
    text-align: center;
    color: grey;
    margin: 0 1rem;
    padding: 0 .5rem;
    border-left: 2px solid transparent;
    cursor: pointer;
  }
  
  &__labels {
    width: 25rem;
    padding: .8rem;
    background: black;
  }

}

.cards {
  display: none;
  margin: 0 -1.2rem;
}
.card {
  margin: 1.2rem;
  position:relative;
  height: $card-size;
  width: $card-size;
  box-shadow: $box-shadow;
  background: $radial-dark-blue;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s;
  
  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

.zoomed {
  background: white;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  transition: all .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .zoomed {
  width: $zoom-radius;
  height: $zoom-radius;
}

.area__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

@each $option in $options {
  .area__option[value=#{$option}]:checked ~ .cards--#{$option} {
    display: flex;
    flex-wrap: wrap;
  }
  
    .area__option[value=#{$option}]:checked ~ .area__labels .area__expertise[for=#{$option}] {
    color: $color-primary;
    font-weight: 700;
    border-left: 2px solid darken($color-primary, 10%);
  }
}