section:not(:first-of-type) {
    @include container;
    margin-top: 10rem;
}

.main.main-animate,
.footer.footer-animate {
  transform: translateY($header-height);
}

.main,
.footer {
  transform: translateY(0);
  transition: $transition-menu;
}