section:not(:first-of-type) {
    @include container;
    margin-top: 10rem;
    
    position: relative;
    overflow: hidden;
    // min-height to guarantee the intro to be shown
    min-height: 300px;

    @include responsiveFor($tablet) {
        display: flex;
        justify-content: space-between;
        // overflow removed in order to avoid using margin left | right for intro
        overflow: initial;
    }
}

section:not(:first-of-type):nth-of-type(2n -1) {
  @include responsiveFor($tablet) {
    display: flex;
    flex-flow: row-reverse;
  }
}

.main.main-animate,
.footer.footer-animate {
  transform: translateY($header-height);
}

.main,
.footer {
  transform: translateY(0);
  transition: $transition-menu;
}