@mixin responsiveFor($breakpoint) {
    @if unitless($breakpoint) {
        @error '`#{$breakpoint}` must have valid unit for media queries';
    }

    @media only screen and (min-width: #{$breakpoint}) {
        @content;
    }
}

@mixin container {
    max-width: 85%;
    margin: 0 auto;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}