// COLORS
$color-primary: hsl(94, 44%, 50%);
$color-primary: hsl(179, 60%, 50%);
$color-primary-dark: mix(black, $color-primary, 20%);
$color-primary-darkest: mix(black, $color-primary, 40%);
// @todo define better the palete
$color-secondary: hsl(283, 60%, 50%);
$color-secondary: hsl(34, 90%, 50%);
$color-silver: hsl(203, 91%, 88%);
$color-secondary-dark: mix(black, $color-secondary, 20%);
$color-secondary-darkest: mix(black, $color-secondary, 40%);


$color-grey-lightest: hsl(0, 0%, 95%);
$color-grey-light   : hsl(0, 0%, 80%);
$color-grey-md      : hsl(0, 0%, 70%);
$color-grey-dark    : hsl(0, 0%, 60%);
$color-grey-darkest : hsl(0, 0%, 50%);

$radial-dark-blue: radial-gradient(circle, rgba(39,144,196,1) 0%, rgba(24,15,121,1) 100%);

// FONT COLORS
$color-font: hsl(0, 0%, 10%);

$font-nofocus: hsl(94, 44%, 30%);
$font-nofocus: mix(black, $color-primary, 40%);
$font-highlight: hsl(0, 0%, 80%);

// FONTS
$font-sm: 1.2rem;
$font-md: 1.6rem;
$font-lg: 2.0rem;
$font-xl: 2.4rem;

// BREAKPOINTS

// PADDING
$pad-text: .4rem;
$pad-wrapper: 1rem;
$pad-large: 2rem;

// ANIMATIONS

// drop menu
$speed-animation: 500ms; // it must match Header.js speed
$transition-menu: all $speed-animation linear;
$header-height: 5rem;

// letter movement
$elCount: 6;
$widthEl: 25px;
$timeSingleElm: 120ms;
$timeDelayPerElm: 80ms;
$initialTimeDelay: 800ms;

// responsive widths

$mobile: 360px;
$mobile-lg: 480px;
$tablet: 620px;
$tablet-lg: 960px;
$desktop: 1200px;