// COLORS
$color-primary: hsl(94, 44%, 50%);
$color-primary: hsl(179, 60%, 47%);
$color-primary-dark: mix(black, $color-primary, 20%);
$color-primary-darkest: mix(black, $color-primary, 40%);
// @todo define better the palete

$color-font: hsl(0, 0%, 10%);

$font-nofocus: hsl(94, 44%, 30%);
$font-nofocus: mix(black, $color-primary, 40%);
$font-highlight: hsl(0, 0%, 80%);

// FONTS
$font-sm: 1.2rem;
$font-md: 1.6rem;
$font-lg: 2.0rem;
$font-xl: 2.4rem;

// BREAKPOINTS

// PADDING
$pad-text: .4rem;
$pad-wrapper: 1rem;

// ANIMATIONS
$speed-animation: 500ms; // it must match Header.js speed
$transition-menu: all $speed-animation linear;
$header-height: 5rem;