$color-bgd: hsl(194, 62%, 50%);
$letter-total: 7;
$gap: 2rem;
$slash-border: 4px;

.btn {
  position   : relative;
  display    : flex;
  // ratio below maintains a good proprortion with the text font size
  width      : 1 * $font-md * $letter-total + 2 * $gap;
  align-items: center;
  cursor     : pointer;
  
  &--phantom {
    height: 100%;
  }
}

.btn__text {
  text-transform: uppercase;
  letter-spacing: .5rem;
  color         : $color-grey-dark;
  font-size     : $font-md;
  position      : absolute;
  top           : 50%;
  left          : $gap;
//   talvez left seja melhor em rems/ px
  transform: translate($slash-border, -50%);
  
  &--hidden {
    color: white;
    transform: translateY(-50%);
  }
}

.btn__slash {
    width : 22rem;
    background: $color-primary;
    height      : 3rem;
    border-right: $slash-border solid $color-bgd;
    border-left : $slash-border solid $color-bgd;
    transform   : skewX(-20deg);
    overflow    : hidden;
    z-index     : 1;
    transition  : width .2s;

    @media only screen and (hover: hover) {
      width       : 1.5rem;
      background: transparent;
    }
  
  & > * {
    transform: skewX(20deg);
  }
}

@media only screen and (hover: hover) {
  .btn:hover .btn__slash {
    animation: animateWidth .4s ease-out forwards;
  }
}

.language {
  display    : flex;
  align-items: center;
  width      : 10rem;
  padding    : 2rem;

  &__disk {
    background: gray;
    @include circle(1rem);
    transform : translateX(0);
    transition: transform .1s ease-in;
  }

  &__box {
    margin       : 0 .4rem;
    width        : 2.5rem;
    height       : 1.4rem;
    padding      : .2rem;
    border       : 1px solid gray;
    border-radius: 2rem;
    display      : flex;
    align-items  : center;
  }

  &__option {
    cursor: pointer;
    color: $color-grey-light;
  }

  &__radio[value="pt"]:checked ~ &__box &__disk {
    transform: translateX(100%);
  }

  &__radio:checked + &__option {
    color: $color-primary;
  }

  &__radio {
    display: none;
  }

  &__option:last-of-type {
    order: 1;
  }
}