.intro {
    z-index         : 1;
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    min-height      : 100%;
    height          : 60vh;
    display         : flex;
    justify-content : center;
    background-color: white;
    align-items     : center;
    overflow        : hidden;
    transition      :  background-color .6s ease-in .3s;

    @include responsiveFor($tablet) {
        z-index    : 0;
        position   : relative;
        margin-top : 1rem;
        width      : auto;
        height     : 0;
        align-items: start;
        overflow   : initial;
    }

    &:hover {
        background-color: transparent;

        @include responsiveFor($tablet) {
            background-color: white;
            width: auto;
            height: 0;
        }
    }


    &__wrapper {
        height          : 200%;
        top             : -65%;
        position        : absolute;
        transform-origin: center center;
        transform       : rotate(-45deg);

        @include responsiveFor($tablet) {
            position : relative;
            top      : 0%;
            width    : auto;
            height   : 20rem;
            transform: rotate(-45deg);
            margin-right: 2rem;
        }

        &--reverse {
            @include responsiveFor($tablet) {
                transform: rotate(45deg);
                margin-right: 0rem;
                margin-left: 2rem;
            }
        }

    }

    &__title--left {
        font-size      : 4rem;
        text-transform : uppercase;
        justify-content: center;
        align-items    : flex-end;
        transform-origin: left bottom;

        @include responsiveFor($tablet) {
            font-size      : 2.4rem;
        }

        @include responsiveFor($tablet-lg) {
            font-size      : 3rem;
        }
        
    }

    &__title--right {
        font-size       : 3.4rem;
        writing-mode    : vertical-rl;
        text-orientation: mixed;
        align-items     : center;
        transform-origin: left top;

        @include responsiveFor($tablet) {
            font-size      : 2.0rem;
        }

        @include responsiveFor($tablet-lg) {
            font-size      : 2.6rem;
        }
    }

    &__wrapper--reverse &__title--right {
        @include responsiveFor($tablet) {
            transform-origin: center center;
            transform: rotate(180deg);
            justify-content : flex-end;
        }
    }

    &__title {
        width     : 100%;
        height    : 50%;
        display   : flex;
        padding   : 2rem;
        transition: all .3s ease-in .2s;
        transform : rotate(0deg);

        @include responsiveForRange($tablet, $tablet-lg) {
            padding   : 1rem;
        }
    }

    &__line {
        height    : 1px;
        width     : 80%;
        max-width : 24rem;
        background: black;
        margin    : 0 auto;
        transform : scale(1);
        transition: all .3s ease-in;
    }

    &:hover &__title--left {
        transform: rotate(-45deg);
        opacity: 0;

        @include responsiveFor($tablet) {
            transform: rotate(0deg);
            opacity: 1;
        }
    }

    &:hover &__title--right {
        transform: rotate(45deg);
        opacity: 0;

        @include responsiveFor($tablet) {
            transform: rotate(0deg);
            opacity: 1;
        }
    }

    &:hover &__wrapper--reverse &__title--right {
        @include responsiveFor($tablet) {
            transform: rotate(180deg);
            opacity: 1;
        }
    }

    &:hover &__line {
        transform: scale(0);

        @include responsiveFor($tablet) {
            transform: scale(1);
        }
    }

    &__title-bg-layout {
        padding   : .3rem .6rem;
        background: hsl(96, 100%, 88%);
        
    }

}