.intro {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    overflow: hidden;
    transition: background-color .6s ease-in .3s;

    @include responsiveFor($desktop-sm) {
        z-index: 0;
        position: relative;
        margin: 1rem;
        width: auto;
        height: 0;
        align-items: start;
        overflow: initial;
    }

    &:hover {
        background-color: transparent;

        @include responsiveFor($desktop-sm) {
            background-color: white;
            width: auto;
            height: 0;
        }
    }


    &__wrapper {
        width: 100%;
        height: 200%;
        top: -65%;
        position: absolute;
        transform-origin: center center;
        transform: rotate(-45deg);

        @include responsiveFor($desktop-sm) {
            position: relative;
            top: 0%;
            width: auto;
            height: 20rem;
            transform: rotate(-45deg);
        }

        &--reverse {
            @include responsiveFor($desktop-sm) {
                transform: rotate(45deg);
            }
        }

    }

    &__title--left {
        font-size: 4rem;
        text-transform: uppercase;
        justify-content: center;
        align-items: flex-end;
        transform-origin: left bottom;
    }

    &__title--right {
        font-size: 3.4rem;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        align-items: center;
        transform-origin: left top;
    }

    &__wrapper--reverse &__title--right {
        @include responsiveFor($desktop-sm) {
            transform-origin: center center;
            transform: rotate(180deg);
        }
    }

    &__title {
        width: 100%;
        height: 50%;
        display: flex;
        padding: 2rem;
        transition: all .3s ease-in .2s;
        transform: rotate(0deg);
    }

    &__line {
        height: 1px;
        width: 80%;
        max-width: 24rem;
        background: black;
        margin: 0 auto;
        transform: scale(1);
        transition: all .3s ease-in;
    }

    &:hover &__title--left {
        transform: rotate(-45deg);
        opacity: 0;

        @include responsiveFor($desktop-sm) {
            transform: rotate(0deg);
            opacity: 1;
        }
    }

    &:hover &__title--right {
        transform: rotate(45deg);
        opacity: 0;
        @include responsiveFor($desktop-sm) {
            transform: rotate(0deg);
            opacity: 1;
        }
    }

    &:hover &__line {
        transform: scale(0);

        @include responsiveFor($desktop-sm) {
            transform: scale(1);
        }
    }

    &__title-bg-layout {
        padding: .2rem .6rem;
        background: hsl(96, 100%, 88%);
    }

}