
#line--1 {
    stroke:hsl(210, 100%, 88%);
    stroke-dasharray: 372;
    stroke-dashoffset: 372;
  }
  #line--2 {
    stroke:hsl(96, 100%, 88%);
    stroke-dasharray: 350;
    stroke-dashoffset: 350;
  }
  
  #line--3 {
    stroke:pink;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
  }
  
  .stroke__line {
    stroke-width: 1rem;
    fill:none;
    animation: stripesMoves .4s ease-in .2s forwards;
  }

  .stripes {
      position: absolute;
      z-index: -1;
  }

  @keyframes stripesMoves {
    to {
      stroke-dashoffset: 0;
    }
  }