html { font-size:62.5%; }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

body { box-sizing: border-box; }

/* width */
::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: adjust-color($color-primary, $saturation: -30%, $lightness: 40%); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color-primary, 10%); 
}

p::selection { background: $color-primary; }