@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 2rem 0;
}

.intro__title--left {
    font-family: 'Josefin Sans', sans-serif;
}

.intro__title--right {
    font-family: 'Black Ops One', cursive;
}